<!DOCTYPE html>
<html lang="en">
<!-- Used to display URL and all it's shortened forms -->

<header>
  <% include ./partials/_header %>
</header>

<head>
  <title>TinyApp</title>
</head>


<body>
  <% if(cookies) {%>
    <a href="/urls/new">Create a New Short Link</a>
    <p>Shortened and Full Length URL Table</p>
    <table>
        <tr>
          <th>UserID</th>
          <th>Short URL</th>
          <th>Long URL</th>
          <th>Edit</th>
          <th>Delete</th>
          <th>Date Created</th>
      <% for(var newKeys in filteredDatabase) { %>
        <tr>
            <td><%= filteredDatabase[newKeys]['userID'] %></td>
            <td><a href="/u/<%=newKeys%>">http://localhost:8080/<%=newKeys%></a></td>
            <td><%= filteredDatabase[newKeys]['longURL'] %></td>
            <td><a href="/urls/<%=newKeys%>">Edit</a></td>
            <td><form method="POST" action="/urls/<%=newKeys%>/delete">
                <button type="submit">Delete</button></form></td>
            <td><%= filteredDatabase[newKeys]['createDate']%></td>
          <% } %>
        </tr>
    </table>
  <%} else {%>
    <p> Please login or register above to create or see your short URL's </p>
  <%} %>


</body>
</html>




