<!DOCTYPE html>
<html lang="en">

<header>
  <% include ./partials/_header %>
</header>

<head>
  <style>
    body {
      font-family: Rakkas;
      background: #4CA1AF;
      background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);
      background: linear-gradient(to right, #C4E0E5, #4CA1AF);
    }

    .container-index {
      font-size: 1.5em;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100vh;

    }

    .container-index-content {
      display: flex;
      align-items: center;
      flex-direction: column;
      min-width: 50em;
      min-height: 15em;
      border: 1px solid white;
      background-color: rgba(30, 30, 30, .75);
      color: white;
      height: auto;
      padding-bottom: 2em;

    }

    .container-index .create-url {
      text-decoration: none;
      color: white;
    }

    .container-index h1 {
      color: rgb(19, 210, 147);
    }

    .container-index .create-url {
      color: #fff;
      text-align: center;
      background: black;
      border: 0;
      border-radius: 5px;
      cursor: pointer;
      outline: 0;
      width: 30%;
      height: 2em;
      font-size: 1em;
      display: flex;
      align-items: center;
      align-self: center;
      justify-content: center;
    }

    .create-url:hover {
      background: white;
      color: rgb(85, 223, 5);
    }

    table {
      border-collapse: collapse;
      color: black;
    }

    th {
      background: #ccc;
    }

    th,
    td {
      border: 1px solid #ccc;
      padding: 8px;
    }

    tr:nth-child(even) {
      background: #efefef;
    }

    tr:hover {
      background: #d1d1d1;
    }

    .your-short {
      margin-bottom: 0;
      color: #04bca2;
    }

  </style>
</head>

<div class="container-index">
  <div class="container-index-content">

    <body>
      <% if(cookies) {%>
        <h1>TINYAPP</h1>
        <a class="create-url" href="/urls/new">Create a New Short URL</a>
        <p class="your-short">Your Short URLs</p>
        <table>
          <tr>
            <th>Short URL</th>
            <th>Long URL</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Date Created</th>
            <% for(var newKeys in filteredDatabase) { %>
              <tr>
                <td>
                  <a href="/u/<%=newKeys%>" target="_blank">tinyapp.
                    <%=newKeys%>
                  </a>
                </td>
                <td>
                  <%= filteredDatabase[newKeys]['longURL'] %>
                </td>
                <td>
                  <button>
                    <a href="/urls/<%=newKeys%>">Edit</a>
                  </button>
                </td>
                <td>
                  <form method="POST" action="/urls/<%=newKeys%>/delete">
                    <button type="submit">
                      <u>Delete</u>
                    </button>
                  </form>
                </td>
                <td>
                  <%= filteredDatabase[newKeys]['createDate']%>
                </td>
                <% } %>
              </tr>
        </table>
        <%} else {%>
          <p> Please login or register above to create or see your short URL's </p>
          <button><a class="login-button" href="/login">Login</a></button>
          <a class="register-button" href="/register">Register</a>
          <%} %>
    </body>
  </div>
</div>

</html>